$frosted-mint: #d7ffef;
$aquamarine: #85f9d2;
$spring-green: #0cf4a6;
$carribean-green: #0cc5a6;
$racing-green: #13261b;

$vivid-tangerine: #ff9388;
$sunglo: #e27774;

$screamin-green: #4ef481;
$orange: #fc6e27;
$carnation: #f45151;

$athens-gray: #f0eff4;
$mischka: #d7d6e4;
$manatee: #8d8f9e;
$tuna: #35363f;
$black: #000000;

$white: #fff;