$rue89-green: #85f9d2;
$rue89-orange: #e27774;
$main-color: $rue89-orange;
//$main-color: #ff9388;
//$link-color: #85f9d2;
$link-color: $rue89-orange;
$header-bg: #35363f;
$header-font-color: #fff;
$footer-bg: #35363f;
$footer-font-color: #fff;
