.container {
	min-width: 0 !important;
}

.content-wrapper {
	section.course-info {
		 header.course-profile {
		 	background-color: $athens-gray;
		 	padding-top: 37px;
		 	padding-bottom: 0;
			overflow: visible;
			height: auto;
			margin-top: 0;
			@include reset-border-shadow;
			@include break-lg {
				width: 970px;
				margin-left: auto;
				margin-right: auto;
			}
			@include break-md {
				width: 760px;
			}
			@include break-sm {
				width: 100%;
			}
			.intro-inner-wrapper {
				background-color: $white;
				max-width: 1170px;
				min-width: 0;
				@include reset-border-shadow;
				.table {
					background-color: $white;
					border-radius: 0;
					@include break-lg {
						display: block;
						padding-bottom: 50px;
					}
					.intro {
						width: 100%;
						float: none;
						padding-top: 35px;
						padding-bottom: 0;
						display: block;
						hgroup {
							border: none;
							h1 {
								font-size: 50px;
								line-height: 66px;
								letter-spacing: -.001em;
								max-width: 750px;
								text-align: center;
								margin-bottom: -70px;
								@include block-center;
							}
						}
						.main-cta {
							background-color: $vivid-tangerine;
							position: relative;
							top: 704px;
							left: 802px;
							margin-right: 0;
							transition: none;
							@include button;
							@include button-color( $vivid-tangerine, $sunglo );
							min-height: 50px !important;
							height: auto !important;
							width: 296px !important;
							@include break-lg {
								left: 30px;
								top: 655px;
							}
							@include break-sm {
								top: 455px;
							}
							@include break-xs {
								top: 275px;
								left: 0;
								min-width: 0 !important;
								width: auto !important;
								padding-left: 10px;
								padding-right: 10px;
							}
							& > span.register.disabled.disabled,
							& > span.register {
								color: $white;
								font-size: 18px;
								letter-spacing: 0;
								padding: 0;
								margin: 0;
								width: 100%;
								border: none;
								background-color: transparent;
								opacity: 1;
								&:hover {
									color: $vivid-tangerine;
									background-color: transparent;
									border: none;
								}
							}
							& > span.register.disabled {
								bottom: 0 !important;
								padding-top: 10px !important;
								text-transform: uppercase;
								min-height: 100% !important;
								height: auto !important;
								position: relative;
								&:hover {
									cursor: default;
									color: $mischka !important;
								}
							}
							> a.find-courses,
							a.register,
							a.add-to-cart {
								border-radius: 0;
								width: 100%;
								height: 100%;
								background: none;
								font-family: 'Montserrat';
								font-weight: 700;
								font-size: 18px;
								text-shadow: none;
								letter-spacing: -.001em;
								padding-top: 3px;
								@include reset-border-shadow;
							}
							span.register {
								border: none;
								background-color: transparent;
								text-transform: none;
								font-weight: 400;
								font-size: .8em;
								position: absolute;
								bottom: -33px;
								width: 100%;
							}
							strong {
								@include reset-border-shadow;
								font-family: 'Montserrat';
								font-size: 18px;
								text-shadow: none;
								width: 100%;
								background: transparent;
								padding-top: 6px;
							}
							&:hover {
								> a.find-courses,
								a.register,
								a.add-to-cart {
									color: $vivid-tangerine;
								}
								strong {
									color: $vivid-tangerine;
								}
							}
						}
					}
					.media {
						width: 1067px;
						height: 580px;
						float: none;
						padding: 0 0 20px;
						@include block-center;
						@include break-lg {
							width: 100%;
						}
						@include break-sm {
							height: 380px;
						}
						@include break-xs {
							height: 200px;
						}
						.hero {
							padding: 0;
							height: 100%;
							border: none;
							img {
								min-height: 100%;
								min-width: 100%;
								height: auto;
								width: auto;
								max-width: 100%;
							}
							.play-intro {
								background-color: $white;
								background-image: none;
								border: 7px solid $tuna;
								height: 96px;
								width: 96px;
								border-radius: 50%;
								box-shadow: none;
								margin-left: -48px;
								margin-top: -48px;
								&::after {
									text-shadow: none;
									color: $tuna;
									font-size: 3em;
									margin-left: -15px;
									margin-top: -19px;
								}
							}
						}
					}
				}
			}
		}
		.details {
			width: 770px;
			max-width: 100%;
			padding-right: 70px;
			margin-right: 0;
			@include break-md {
				padding-right: 0;
			}
			nav[aria-label="Course About"] {
				display: none;
			}
			.inner-wrapper {
				section {
					margin-bottom: 60px;
					h1 {
						text-transform: uppercase;
						font-size: 27px !important;
						line-height: 1.2em;
						text-align: left;
						display: inline-block;
						background-color: $aquamarine;
						padding: 16px 20px 18px 40px;
						margin-bottom: 50px;
						position: relative;
						@include break-xs {
							font-size: 24px !important;
						}
						&::before {
							display: block;
							content: "";
							height: 0;
							width: 0;
							border-top: 38px solid transparent;
							border-bottom: 38px solid transparent;
							border-left: 19px solid $white;
							position: absolute;
							left: 0;
							top: 0;
						}
						+ h3 {
							margin-top: 0;
						}
					}
					h3 {
						@include break-xs {
							font-size: 26px;
						}
					}
				}
				section.course-staff {
					.teacher {
						.teacher-image {
							border: none;
							margin: 55px 25px 10px 0;
							position: relative;
							height: 138px;
							width: 208px;
							overflow: hidden;
							@include break-sm {
								width: 100%;
								margin-top: 0;
							}
							img {
								height: auto;
								width: 100%;
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
							}
							&::before {
								content: "";
								display: block;
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								background-color: $aquamarine;
								opacity: .6;
								z-index: 10;
							}
						}
						h3 {
							text-transform: uppercase;
							font-size: 24px;
							font-weight: 700;
							width: 800px;
							position: relative;
							left: -233px;
							margin-top: 0;
							@include break-sm {
								width: auto;
								left: 0;
							}
						}
					}
				}
			}
		}
		.course-sidebar {
			width: 296px;
			padding-left: 0;
			padding-right: 0;
			margin-top: 100px;
			@include break-lg {
				margin-top: 0;
				width: 100%;
			}
			.course-summary {
				margin-bottom: 0;
				padding: 0;
				@include reset-border-shadow;
				header {
					border-bottom-color: $mischka;
					margin-bottom: 42px;
					.social-sharing {
						display: none;
					}
				}
				.important-dates {
					background-color: $aquamarine;
					color: rgba( $racing-green, .5 );
					padding: 32px 42px 52px;
					position: relative;
					&::before {
						content: "";
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						border-top: 48px solid $white;
						border-left: 48px solid rgba( $spring-green, .5 );
					}
					li {
						border: none;
						margin-bottom: 0;
						padding-bottom: 0;
						.icon {
							display: none;
						}
						.important-dates-item-title,
						.important-dates-item-text {
							float: none;
						}
						.important-dates-item-title {
							margin-top: 15px;
							margin-bottom: 0;
						}
					}
				}
			}
		}
		ul {
			list-style-type: none;
			padding-left: 35px;
			border-left: 4px solid $aquamarine;
			margin-top: 10px;
			margin-bottom: 30px;
			li {
				margin-bottom: 15px;
			}
		}
		.faq {
			details {
				margin-bottom: 10px;
				cursor: pointer;
				summary {
					h3 {
						font-family: 'Droid Sans', sans-serif !important;
						font-size: 18px !important;
						font-weight: 400;
						position: relative;
						padding-left: 20px;
						display: block !important;
						margin-top: 10px;
						margin-bottom: 0;
						&::before {
							content: "";
							display: block;
							height: 0;
							width: 0;
							position: absolute;
							left: 0;
							top: 9px;
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent;
							border-left: 8px solid $aquamarine;
						}
					}
				}
				.answer {
					margin-bottom: 20px;
					padding-left: 20px;
				}
				&.open h3::before {
					transform: rotate(90deg);
				}
			}
		}
	}
	.course-profile + .container {
		background-color: $white;
		margin-top: 0;
		padding: 0 52px;
		@include break-xs {
			padding: 0 15px;
		}
	}
}