// Reset
body {
	.container-footer,
	.window-wrap {
		min-width: 0 !important;
		background-color: transparent;
	}
}

// Nav , sidebar, sequence nav
body .content-wrapper,
.wrapper-course-material {
	.course-material {
		max-width: 1180px;
		.course-tabs {
			li {
				margin: 0 .5em 0 0;
				&,
				&:last-child {
					margin-top: 5px;
				}
				a {
					border-radius: 0;
					border: none;
					height: 50px;
					padding: 14px 15px 8px;
					color: $black;
					text-transform: uppercase;
					font-family: 'Montserrat';
					font-weight: 700;
					font-size: 16px;
					background-color: $aquamarine;
					&.active, &:hover, &:active {
						background-color: $white;
						color: $black;
						background-image: none;
						box-shadow: none;
						text-shadow: none;
						border: none;
					}
				}
			}
		}
	}
	height: auto;
	@include break-lg {
		width: 920px;
		margin-left: auto;
		margin-right: auto;
	}
	@include break-md {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	@include break-md {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	@include break-sm {
		width: auto;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
}

body .content-wrapper {
	margin-left: auto;
	margin-right: auto;
	.container {
		border: none;
		margin: 0;
		padding: 0;
		@include break-lg {
			width: 920px;
			margin-left: auto;
			margin-right: auto;
		}
		@include break-md {
			width: 750px;
			margin-left: auto;
			margin-right: auto;
		}
		@include break-md {
			width: 750px;
			margin-left: auto;
			margin-right: auto;
		}
		.course-wrapper {
			border: none;
			border-width: 4px 0 0;
			border-style: solid;
			border-color: $white;
			border-radius: 0;
			.course-index {
				width: 33.3333%;
				border-width: 0 0 0 4px;
				border-style: solid;
				border-color: $white;
				position: relative;
				@include break-md {
					width: 100%;
					display: block;
				}
				&::before {
					content: '';
					display: block;
					position: absolute;
					z-index: 20;
					left: 24px;
					top: 33px;
					bottom: 25px;
					width: 2px;
					background-color: $aquamarine;
				}
				.wrapper-course-modes {
					> .courseware-bookmarks-button {
						display: none;
					}
				}
				.accordion {
					.chapter {
						border: none;
						margin-bottom: 4px;
						.group-heading {
							background-color: $frosted-mint;
							font-family: 'Montserrat';
							font-weight: 400;
							color: $heavy-metal;
							font-size: 16px;
							font-weight: 700;
							min-height: 50px;
							height: auto;
							padding-top: 13px;
							padding-left: 53px;
							padding-right: 45px;
							position: relative;
							&::before {
								content: '';
								display: block;
								height: 9px;
								width: 9px;
								background-color: $carribean-green;
								border-radius: 50%;
								position: absolute;
								z-index: 30;
								left: 21px;
								top: 22px;
							}
							&::after {
								content: '\f078';
								font-family: 'FontAwesome';
								font-size: .8em;
								color: $carribean-green;
								position: absolute;
								top: 16px;
								right: 21px;
							}
							.icon {
								&::before {
									position: absolute;
									left: -5px;
									top: -3px;
									z-index: 25;
									content: '';
									display: block;
									height: 20px;
									width: 20px;
									border-radius: 50%;
									background-color: $frosted-mint;
									border: 3px solid $carribean-green;
								}
							}
						}
						&.is-open {
							.group-heading {
								&::after {
									content: '\f077';
								}
							}
						}
					}
					.chapter-content-container {
						> div {
							position: relative;
							padding-left: 16px;
							a {
								border: none;
								padding-left: 50px;
								color: $tuna;
							}
							.menu-item {
								&::before {
									content: '';
									display: block;
									height: 11px;
									width: 11px;
									background-color: $aquamarine;
									position: relative;
									z-index: 25;
									left: 3px;
									top: 16px;
									border: 3px solid $white;
									border-radius: 50%;
								}
								&.active {
									a {
										&,
										p {
											background-color: transparent;
											color: $manatee;
											font-weight: normal;
										}
									}
								}
								a, a:hover, a:active, a:visited {
									background-color: white;
									padding-top: 0px;
									padding-left: 38px;
									padding-right: 20px;
									padding-bottom: 0px;
								}
							}
							&:last-child {
								margin-bottom: .6em;
							}
						}
					}
				}
		 	}
			.course-content {
				width: 66.6667%;
				border: none;
				@include break-md {
					width: 100%;
					display: block;
				}
				.bookmark-button-wrapper {
					display: none;
				}
				.sequence-nav {
					height: 50px;
					.sequence-nav-button {
						height: 50px;
						background-color: $manatee;
						border-radius: 0;
						border-width: 0 0 2px 0;
						border-color: $storm-gray;
						background-image: none;
						transition: none;
						padding-top: 5px;
						&.disabled {
							background-color: $manatee;
							opacity: .6;
						}
						.icon {
							color: $white;
							font-size: 1.6em;
						}
					}
					.sequence-list-wrapper {
						margin: 0 44px;
						height: 50px;
						background-image: none;
						ol {
							padding: 0;
							li,
							li:first-child,
							li:last-child {
								button {
									background-color: $athens-gray;
									border-radius: 0;
									border-width: 0 0 2px 0;
									border-color: $mischka;
									height: 48px;
									&::after {
										margin-top: 0;
										padding-top: 4px;
										font-size: 2em;
										color: $manatee;
									}
								}
								.fa.is-hidden {
									display: none;
								}
							}
						}
						.left-shadow, .right-shadow {
							display: none;
						}
					}
				}
				.sequence-bottom {
					display: none;
				}
			}
		}
	}
}

div.course-wrapper {
	section.course-content {
		div#seq_content {
			h1 {
				font-family: 'Oswald';
				color: $black;
				font-size: 36px;
				line-height: 44px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: .0025em;
				strong {
					font-weight: 400 !important;
				}
				span {
					color: $black !important;
				}
			}
		}
	}
}


// Infos
body .content-wrapper {
	.container {
		.info-wrapper {
			border: none;
			border-radius: 0;
			.updates {
				> section {
					> article {
						border: none;
						background-color: $athens-gray !important;
						border-radius: 0;
						padding: 20px;
						h2 {
							font-family: 'Droid Sans' !important;
						}
						a, a:link, a:visited {
							color: $vivid-tangerine;
						}
					}
				}
			}
		}
	}
}

// Wiki
body.view-wiki {
	.wiki-wrapper header {
		box-sizing: content-box;
	}
}

// Staff debug info
.staff-modal {
	width: 100% !important;
	.staff_actions {
		position: relative;
		z-index: 100;
	}
	td {
		vertical-align: middle;
		&:first-child {
			text-align: right;
			padding-right: 10px;
		}
	}
}
