.content-wrapper {
	> .dashboard {
		@include break-md {
			display: flex;
			flex-direction: column-reverse;
		}
		.my-courses {
			float: right;
			width: 80%;
			@include break-md {
				width: 100%;
				float: none;
			}
			.wrapper-header-courses {
				.header-courses {
					color: $black !important;
					font-family: "Oswald" !important;
					font-size: 36px !important;
					letter-spacing: 0.025em;
					line-height: 44px !important;
					text-transform: uppercase;
				}
			}
			.listing-courses {
				.course-item {
					border: none;
					padding: 0;
					height: auto;
					border-radius: 0;
					overflow: hidden;
					display: block;
					width: 100%;
					@include break-sm {
						height: auto;
					}
					.course {
						margin: 0;
						overflow: hidden;
						.details {
							height: auto;
							min-height: 184px;
							position: relative;
							.wrapper-course-image {
								height: 100%;
								width: 358px;
								margin-right: 15px;
								@include break-sm {
									width: 100%;
								}
								.cover {
									height: 100%;
									border-radius: 0;
									border: none;
									position: absolute;
									width: 358px;
									@include break-sm {
										height: 196px;
										width: 100%;
										position: relative;
										margin-bottom: 0;
									}
									.course-image {
									    height: auto;
									    width: auto;
									    min-height: 100%;
										max-height: unset;
										width: 100%;
									    position: absolute;
									    left: 50%;
									    top: 50%;
									    transform: translate(-50%, -50%);
									}
								}
							}
							.wrapper-course-details {
								width: calc(100% - 373px);
								height: 100%;
								min-height: 184px;
								position: relative;
								margin-left: 373px;
								@include break-sm {
									width: 100%;
									height: auto;
									padding: 10px;
									margin-left: 0;
								}
								.course-title {
									margin-top: 20px;
									margin-bottom: 0;
									padding-right: 100px;
									a {
										font-family: 'Oswald';
										font-weight: 400;
										font-size: 27px;
										line-height: 30px;
										color: $black;
									}
								}
								.course-info {
									width: 100%;
									padding-right: 20px;
									margin-top: 0;
									.info-university,
									.info-course-id {
										display: none !important;
									}
									.info-university {
										top: 20px;
									}
									.info-course-id {
										top: 57px;
									}
									.info-date-block {
										color: $carribean-green;
										font-weight: 700;
										font-size: 18px;
									}
								}
								.wrapper-course-actions {
									width: 100%;
									float: none;
									position: relative;
									overflow: hidden;
									@include break-sm {
										position: relative;
										bottom: 0;
									}
									.course-actions {
										float: none;
										width: 100%;
										.enter-course {
											float: left;
											margin-top: 6px;
											@include button;
											@include button-color($vivid-tangerine, $sunglo, $white);
											height: 36px !important;
											padding-top: 6px !important;
											color: #fff;
											font-size: 16px !important;
											min-width: unset !important;
										}
										.wrapper-action-more {
											display: block;
											float: right;
											padding-bottom: 20px;
											.action-more {
												display: none;
											}
											.actions-dropdown {
												display: block;
												float: right;
												position: relative;
												right: 10px;
												top: 15px;
												pointer-events: auto;
												.actions-dropdown-list {
													display: block;
													overflow: hidden;
													margin: 0;
													padding: 0;
													@include reset-border-shadow;
													&::before,
													&::after {
														display: none;
													}
													.actions-item {
														float: left;
														&::before {
															content: ' - ';
															padding-left: 5px;
															padding-right: 5px;
															color: $sunglo;
														}
														&:first-child {
															&::before {
																content: '';
															}
														}
														.action {
															display: inline;
															padding:0;
															color: $sunglo;
															&:hover {
																text-decoration: underline;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						.wrapper-messages-primary {
							background: $white;
							height: auto;
							.actions .action .btn {
								@include button;
								@include button-color($vivid-tangerine, $sunglo, $white);
								background-image: none;
								box-shadow: none;
								color: #fff;
								height: 32px !important;
								font-size: 14px !important;
								min-width: unset !important;
								padding-top: 8px !important;
							}
							.messages-list {
								.message.message-status {
									background: $white;
									border: none;
									border-radius: 0;
									padding: 10px;
									margin-top: 0;
								}
							}
						}
					}
				}
			}
		}
		.dashboard-search-bar,
		.profile-sidebar {
			float: left;
			width: 17.5%;
			margin: 55px 2.5% 0 0;
			padding: 15px 0;
			@include break-md {
				float: none;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 0;
			}
		}
		.profile-sidebar {
			.user-info {
				.title,
				.copy {
					font-size: 13px !important;
				}
			}
		}
		.dashboard-search-bar {
			margin-bottom: 30px;
			.search-field {
				@include reset-border-shadow;
				border-radius: 0;
			}
		}
	}

    #unenroll_course_number {
      display: none;
    }
}
