.content-wrapper {
	@include break-md {
		width: 970px;
	}
	> .home {
		> header {
			display: none;
		}
		.highlighted-courses {
			.courses {
				margin-left: 0;
				margin-right: 0;
				.courses-listing {
					@include break-sm {
						background-color: $athens-gray;
					}
					.courses-listing-item {
						float: none;
						width: 100%;
						min-height: 234px;
						margin-bottom: 30px;
						padding-left: 5px;
						padding-right: 5px;
						@include break-sm {
							max-height: unset;
						}
						.course {
							border: none;
							margin-bottom: 0;
							.course-info {
								width: 66.667%;
								@include break-sm {
									width: 100%;
								}
								h2 {
									border-bottom: 1px solid $mischka;
									margin-left: 15px;
									margin-right: 15px;
									@include break-sm {
										margin-left: 0;
										margin-right: 0;
									}
								}
								.course-organization,
								.course-code {
									float: right;
									background-color: $aquamarine;
									text-transform: uppercase;
									padding: 3px 10px;
									line-height: 24px;
									margin-left: 5px;
									font-weight: 400;
								}
								.course-title {
									color: $black;
									font-family: 'Oswald', sans-serif;
									font-size: 27px;
									line-height: 30px;
									font-weight: 400;
									height: auto;
									@include break-sm {
										padding-right: 0;
									}
								}
								.course-date {
									color: $carribean-green;
									font-weight: 700;
									font-size: 18px;
									@include break-sm {
										padding-right: 0;
										padding-left: 0;
									}
								}
							}
							.course-info,
							.course-image {
								float: left;
								height: 234px;
							}
							.course-image {
								width: 33.333%;
								max-width: 430px;
								@include break-sm {
									width: 100%;
									max-width: unset;
								}
								.cover-image {
									height: 234px;
									position: relative;
									img {
										height: auto;
										width: auto;
										min-height: 100%;
										min-width: 100%;
										position: absolute;
										left: 50%;
										top: 50%;
										transform: translate(-50%, -50%);
									}
								}
							}
							&:hover {
								.cover-image {
									&::before,
									.learn-more {
										display: none;
									}
								}
							}
							&:focus {
								.cover-image {
									&::before,
									.learn-more {
										display: none;
									}
								}
							}
						}
						.course,
						.course a {
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}