.view-login footer,
.view-passwordreset footer,
.view-register footer,
body footer {
	background: $tuna url('../images/header-bg.jpg') repeat left top;
}

	.view-login footer ul.links, .view-passwordreset footer ul.links, .view-register footer ul.links, body footer ul.links,
	.view-login footer .copyright, .view-passwordreset footer .copyright, .view-register footer .copyright, body footer .copyright {
		float: left;
	}
	
	.view-login footer .copyright, .view-passwordreset footer .copyright, .view-register footer .copyright, body footer .copyright {
		margin-left: 5px;
	}

	.view-login footer ul.links li a,
	.view-login footer ul.links li a:hover,
	.view-passwordreset footer ul.links li a,
	.view-passwordreset footer ul.links li a:hover,
	.view-register footer ul.links li a,
	.view-register footer ul.links li a:hover,
	body footer ul.links li a,
	body footer ul.links li a:hover {
		color: $athens-gray;
	}