.content-wrapper > .home > header {
	display: none;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
	float: none;
	width: 100%;
	min-height: 234px;
	margin-bottom: 30px;
}

.content-wrapper > .home .courses .courses-listing-item .course,
.highlighted-courses .courses .course a, .find-courses .courses .course a {
	overflow: hidden;
}

.highlighted-courses .courses .course, .find-courses .courses .course {
	margin-bottom: 0;
}

.content-wrapper > .home .courses .courses-listing-item .course {
	border: none;
}

.home .course-image,
.courses-container .courses .course .course-info {
	float: left;
}

.home .course-image,
.courses-container .courses .course .course-info,
.courses-container .courses .course .course-image .cover-image {
	height: 234px;
}

.home .course-image {
	width: 33.333%;
	max-width: 430px;
}

	.courses-container .courses .course .course-image .cover-image img {
		height: 100%;
		width: auto;
	}

	.courses-container .courses .course:hover .cover-image::before, .courses-container .courses .course:focus .cover-image::before {
		display: none;
	}
	
	.courses-container .courses .course:hover .cover-image .learn-more, .courses-container .courses .course:focus .cover-image .learn-more {
		display: none;
	}

.home .course-info {
	width: 66.667%;
}

	.home .course-info h2 {
		border-bottom: 1px solid $mischka;
		margin-left: 15px;
		margin-right: 15px;
	}
	
		.courses-container .courses .course .course-info .course-organization,
		.courses-container .courses .course .course-info .course-code {
			display: none;
		}
		
		.courses-container .courses .course .course-info .course-title {
			color: $black;
			font-family: Oswald, sans-serif;
			font-size: 27px;
			font-weight: 400;
			padding: 0;
			height: auto;
		}
		
	.courses-container .courses .course .course-info .course-date {
		color: $carribean-green;
		font-weight: 700;
		font-size: 18px;
	}