<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
<section class="container faq">
<h1>F A Q</h1>

<h2>Premiers pas - S'inscrire</h2>

<dl>
	<dt>1 - Qui peut s’inscrire à un cours sur Rue89 MOOC ?</dt>
	<dd>
		<p>Les MOOC sont ouverts à tous&nbsp;: journalistes, professionnels de la communication, étudiants, retraités, demandeurs d'emploi, salariés...</p>
		<p>Les cours de Rue89 MOOC ont été conçus pour être largement accessibles. Dans une optique de diffusion de la connaissance, ils s’adressent à tous ceux qui ont un intérêt pour des sujets liés au journalisme numérique.</p>
	</dd>
</dl>

<dl>
	<dt>2 - Comment puis-je m'inscrire&nbsp;?</dt>
	<dd>Créez simplement un compte Rue89 MOOC (c'est gratuit) et ensuite inscrivez-vous au(x) cours de votre choix. Suivez ensuite les consignes.</dd>
</dl>

<dl>
	<dt>3 - L’inscription est t-elle payante&nbsp;?</dt>
	<dd>L’inscription à la plate-forme Rue89 MOOC est gratuite. La participation aux cours également. Mais certaines options peuvent être payantes.</dd>
</dl>

<dl>
	<dt>4 - Quelle plate-forme utilise Rue89 MOOC&nbsp;?</dt>
	<dd>Rue89 MOOC s’appuie sur les développements réalisés dans le cadre de la plate-forme d’apprentissage en ligne OpenEdx (<a href="https://open.edx.org/" target="_blank">https://open.edx.org/</a>).</dd>
</dl>

<dl>
	<dt>5 - Mon nom d'utilisateur Rue89 est déjà utilisé</dt>
	<dd>Essayez un nom d'utilisateur différent. Par exemple, essayez d'ajouter un nombre aléatoire à la fin.</dd>
</dl>

<dl>
	<dt>6 - Que se passe-t-il après mon inscription&nbsp;?</dt>
	<dd>Vous allez recevoir un courriel d'activation. Suivez les consignes de ce courriel pour activer votre compte. Vous devrez systématiquement vous enregistrer avec ce compte pour accéder au(x) MOOC au(x)quel(s) vous vous êtes inscrit(e). Lorsque celui-ci aura débuté, vous pourrez accéder aux documents, devoirs, tutoriels, etc., semaine par semaine.</dd>
</dl>

<dl>
	<dt>7 - J'ai des problèmes de connexion (mot de passe/courriel non reconnus)</dt>
	<dd>Merci de vérifier les paramètres de votre navigateur pour vous assurer que vous avez la dernière version de votre navigateur, puis essayez à nouveau de vous connecter. Si l'accès est impossible, contactez-nous.</dd>
</dl>

<dl>
	<dt>8 - Je n'ai pas reçu de mail d'activation. Que faire&nbsp;?</dt>
	<dd>
		<p>Si vous n'avez pas reçu de mail d'activation, cela peut être parce que&nbsp;:</p>
		<ul>
			<li>Il y avait une faute de frappe dans votre adresse email.</li>
			<li>Votre filtre anti-spam a peut-être considéré l’email d’activation comme un spam. Merci de vérifier votre dossier spam.</li>
		</ul>
		<p>Vous utilisez peut-être un ancien navigateur. Nous recommandons de télécharger la dernière version de votre navigateur.</p>
		<p>Si vous avez des problèmes avec l'activation de votre compte, nous recommandons de nous contacter.</p>
	</dd>
</dl>

<h2>Les cours</h2>

<dl>
	<dt>1 - Quand débute et finit mon cours&nbsp;?</dt>
	<dd>Les dates de début et de fin des cours sont précisées sur la page de description de chaque MOOC, ainsi que la fin des dates d’inscription.</dd>
</dl>

<dl>
	<dt>2 - Les cours sont-ils payants&nbsp;?</dt>
	<dd>Les cours sont pour l’instant tous gratuits. En revanche, les cas pratiques, la vérification d’acquis et la certification sont payants.</dd>
</dl>

<dl>
	<dt>3 - La certification peut-elle être prise en charge par mon employeur ou les organismes de formation&nbsp;?</dt>
	<dd>
		<p>Si votre employeur accepte de prendre en charge le coût de la certification, il faut nous contacter directement pour que nous puissions lui émettre une facture.</p>
		<p>Rue89 Formation est un organisme de formation agréé (numéro d’agrément : 11754415475) et nous travaillons actuellement avec les Organismes paritaires Collecteurs agréés (OPCA) pour que notre certification soit officiellement reconnue et puisse être prise en charge par la formation professionnelle.</p>
	</dd>
</dl>

<dl>
	<dt>4 - Quelle quantité de travail sera nécessaire pour réussir un cours&nbsp;?</dt>
	<dd>Le nombre estimé d'heures de travail pour réussir le cours est décrit sur la page de description spécifique à chaque MOOC.</dd>
</dl>

<dl>
	<dt>5 - Quels sont les pré-requis pour un cours&nbsp;?</dt>
	<dd>Les prérequis sont importants. Vérifiez bien les recommandations sur la page de description du cours avant de commencer. Nous n’avons pas la possibilité de vérifier que vous possédez bien ces pré-requis, mais la formation se déroule en supposant que tous les inscrits disposent bien des bases décrites. Il n’y aura pas de rattrapage de connaissances vis à vis de ces pré-requis. Si vous avez des questions à ce sujet, n’hésitez pas à contacter l’équipe pédagogique.</dd>
</dl>

<dl>
	<dt>6 - Je préfère réviser avant le début du cours. Quelles ressources puis-je consulter&nbsp;?</dt>
	<dd>Lors de votre inscription, dans le descriptif du MOOC, vous pouvez consulter les références de livres ou d'articles conseillés.</dd>
</dl>

<dl>
	<dt>7 - Quelles sont les heures d'accès au MOOC&nbsp;?</dt>
	<dd>Les MOOC s'adaptent à votre convenance. Les vidéos, exercices, forum ou wiki sont disponibles sur la plateforme 24 h/ 24. Vous pouvez travaillez à votre rythme, selon vos disponibilités. Vous pouvez revoir les vidéos autant de fois que vous le souhaitez. Certains cours incluent des sessions d’échange en direct. Si vous ne pouvez pas y participer, vous pourrez toujours les regarder en différé.</dd>
</dl>

<dl>
	<dt>8 - Si je rate une semaine, cela va-t-il affecter mon évaluation&nbsp;?</dt>
	<dd>Il est possible de réussir son cours en ayant raté une semaine ; néanmoins, l'équipe pédagogique a prévu une progression pédagogique par semaine. Vous devrez donc rattraper votre retard, revoir et étudier ce que vous avez manqué.</dd>
</dl>

<dl>
	<dt>9 - Comment puis-je rencontrer d'autres étudiants&nbsp;?</dt>
	<dd>Tous les MOOC de Rue89 ont des forums de discussion. Dans cet espace, vous pourrez discuter avec les autres participants du MOOC soit pour obtenir des réponses à vos questions, soit pour répondre aux interrogations d'autres apprenants.</dd>
</dl>

<dl>
	<dt>10 - Comment puis-je échanger avec l'équipe pédagogique&nbsp;?</dt>
	<dd>Le forum de discussion est le lieu d'échange privilégié par excellence. Vous pouvez nous joindre aussi via les réseaux sociaux, la page Facebook Rue89 MOOC et le compte Twitter Rue89 MOOC. Vous pouvez également passer par notre <a href="/contact" target="_blank">page de contact</a>.</dd>
</dl>

<dl>
	<dt>11 - Comment puis-je obtenir de l'aide&nbsp;?</dt>
	<dd>Pour vous aider, faites appel à la communauté dynamique et globale des apprenants en ligne, disponibles 24h/24 et 7j/7, dans le respect de la charte utilisateur. Vous disposez aussi du soutien des tuteurs qui animent le cours. Jetez un œil au forum de discussion où vous pouvez passer en revue les questions posées, les réponses et commentaires des apprenants en ligne. Vous pouvez également poser des questions.</dd>
</dl>

<dl>
	<dt>12 - L'inscription à un MOOC qui m'intéresse est encore possible, mais le MOOC a commencé. Puis-je encore m'inscrire&nbsp;?</dt>
	<dd>Oui vous pouvez vous inscrire et suivre le MOOC. Vous devrez juste rattraper les semaines déjà passées. Attention cependant aux dates de clôture des examens (si elles existent) car vous ne pourrez pas rendre votre devoir à temps.</dd>
</dl>

<dl>
	<dt>13 - Y a-t-il un examen à la fin&nbsp;?</dt>
	<dd>Chaque MOOC a sa propre structure. Vérifiez la description du cours pour voir s’il y a un examen ou un projet final.</dd>
</dl>

<dl>
	<dt>14 - Que se passe-t-il si je ne peux plus suivre le cours&nbsp;?</dt>
	<dd>Vous êtes entièrement libre de votre apprentissage. Vous pouvez arrêter quand bon vous semble et reprendre le cours s'il est encore disponible sur la plateforme. Faites cependant attention aux modalités d'évaluation qui peuvent se clôturer à date fixe.</dd>
</dl>

<dl>
	<dt>15 - J'ai des problèmes d'affichage. Par exemple, il manque des fonctionnalités ou je ne peux pas voir les vidéos</dt>
	<dd>Vérifiez les paramètres de votre navigateur. Nous recommandons de télécharger la dernière version de votre navigateur. Sinon, vous pouvez vous réinscrire avec un compte courriel alternatif. Il n'y a pas besoin de détruire l’ancien compte, il disparaîtra plus tard s'il est inutilisé.</dd>
</dl>

<dl>
	<dt>Comment nous contacter&nbsp;?</dt>
	<dd>Par mail&nbsp;: Sur notre page &laquo;&nbsp;<a href="/contact" target="_blank">contact</a>&nbsp;&raquo;</dd>
	<dd>Par les réseaux sociaux.<br>
		Facebook&nbsp;: <a href="https://www.facebook.com/Rue89MOOC" target="_blank">https://www.facebook.com/Rue89MOOC</a><br>
		Twitter&nbsp;: <a href="https://twitter.com/Rue89MOOC" target="_blank">https://twitter.com/Rue89MOOC</a>
	</dd>
</dl>

</section>
</main>
