<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="container about">
    <h1>DONNEES PERSONNELLES & COOKIES MOOC – SITE MOOC RUE 89</h1>
    <h2> 1 - DONNEES PERSONNELLES</h2>

    <p>Dans le cadre de votre inscription sur le service de cours en ligne (Mooc) proposé sur son site https://mooc.rue89.com/, Le Nouvel Observateur est amené à traiter des données vous concernant en qualité de responsable de traitement ou co-responsable de traitement au sens de la réglementation en matière de données personnelles, notamment le Règlement (UE) Général n°2016-679 sur la Protection des Données personnelles des personnes physiques (RGPD).</p>

    <h3>1.1 Quelles sont les données personnelles traitées ?</h3>
    <p>Les données personnelles vous concernant collectées et traitées sont principalement : vos nom, prénom, civilité, adresse email, ville et pays de résidence, date de naissance, données académiques (plus haut niveau de formation obtenu), historiques de commandes, informations de paiement, données pédagogiques (état d’avancement des Mooc suivis, résultats …), ainsi que vos logs de connexion (ci-après les « Données »).</p>
    <h3>1.2 Sur quelles bases légales traitons-nous vos données personnelles ?</h3>
    <p>Ces Données sont principalement traitées soit sur la base de votre consentement, soit sont nécessaires à l'exécution de vos commandes (exécution d'un contrat).</p>
    <p>Le respect d’une obligation légale ou l'intérêt légitime de la société Le Nouvel Observateur (lutte contre la fraude par exemple) peuvent également justifier certains traitements.</p>
    <h3>1.3 Pour quelles finalités traitons-nous vos données personnelles ?</h3>
    <ul>
      <li>Procéder à la création et la gestion de votre compte utilisateur ;</li>
      <li>Gérer vos inscriptions aux Mooc de votre choix ;</li>
      <li>Procéder à l’encaissement du prix d’inscription aux Mooc de votre choix ;</li>
      <li>Assurer la sécurité des transactions en ligne, prévenir les fraudes et les incidents de paiement ;</li>
      <li>Emettre la facture relative à votre commande ;</li>
      <li>Suivre votre parcours au sein des Mooc auxquels vous êtes inscrit et vous apporter le soutien pédagogique nécessaire.</li>
      <li>Vous permettre de commenter le contenu des Mooc auxquels vous participez et d'utiliser nos services interactifs ;</li>
      <li>Gérer et optimiser notre relation clientèle avec vous ;</li>
      <li>Vous adresser des informations sur nos offres, actualités et évènements (newsletters, alertes, etc.) ;</li>
      <li>Sous réserve de votre consentement : permettre à nos sociétés et associations partenaires de vous adresser des informations sur leurs offres, actualités et évènements (newsletters, invitations et autres publications) ;</li>
      <li>Réaliser des statistiques et mesures d'audience.</li>
    </ul>
    <h3>1.4 A qui transmettons-nous vos données personnelles ?</h3>
    <p>Vos Données sont traitées par Le Nouvel Observateur. Elles ne seront cédées ou rendues accessibles à aucun tiers sous réserve (i) des sous-traitants éventuels du Nouvel Observateur pour des raisons exclusivement techniques et logistiques et (ii) de toute restructuration de notre société, y compris cession totale ou partielle d'actifs, fusion, absorption acquisition, scission et plus généralement toute opération de réorganisation.</p>
    <p>Nos partenaires de mesures d'audience peuvent être destinataires de vos Données.</p>
    <p>Nous pouvons également être amenés à communiquer vos Données à des tiers lorsqu'une telle communication est requise par la loi, une disposition réglementaire ou une décision judiciaire, par des impératifs de lutte contre la fraude ou si cette communication est nécessaire pour assurer la protection et la défense de ses droits.</p>
    <p>Enfin, certains Mooc sont coédités avec des partenaires. Dans ce cas, vos données personnelles peuvent être également traitées par ces partenaires. Dans une telle hypothèse, vous en êtes clairement informés et votre consentement est demandé.</p>
    <h3>1.5 Les destinataires de vos Données peuvent-ils se situer hors de l’Union Européenne</h3>
    <p>Les destinataires de vos Données peuvent se situer à l'étranger, y compris en dehors de l'Espace Economique Européen. Tout transfert de vos Données en dehors de l'Espace Economique Européen est effectué moyennant des garanties appropriées, notamment contractuelles, en conformité avec la réglementation applicable en matière de protection des données personnelles.</p>
    <h3>1.6 Comment protégeons-nous vos données ?</h3>
    <p>En tant que responsable de traitements, nous mettons en œuvre des mesures techniques et organisationnelles appropriées pour protéger vos données personnelles contre l’altération, la perte ou la divulgation. Ces mesures sont notamment :</p>
    <ul>
      <li>La désignation d’un délégué à la protection des données ;</li>
      <li>La sensibilisation aux exigences de confidentialité de nos collaborateurs amenés à accéder à vos Données ;</li>
      <li>La sécurisation de l’accès à nos locaux et à nos plates-formes informatiques ;</li>
      <li>La mise en œuvre d’une politique générale de sécurité informatique de l’entreprise ;</li>
      <li>La sécurisation de l’accès, du partage et du transfert des données.</li></ul>
    <h3>1.7 Quels sont vos droits ?</h3>
    <p>Conformément à la règlementation en vigueur, vous disposez d'un droit d'accès et de rectification de vos Données, ainsi que de celui d'en demander l'effacement, de vous opposer à leur traitement et d'en obtenir la limitation ou la portabilité dans la mesure où cela est applicable.</p>
    <p>Vous pouvez également vous opposer à ce que vos Données soient utilisées aux fins de dresser votre profil client ; dans ce cas vous ne pourrez plus bénéficier d'offres ou de services personnalisés.</p>
    <p>Ces droits peuvent être exercés par courrier électronique à l'adresse mooc@rue89.com Un justificatif d'identité pourra vous être demandé.</p>
    <h3>1.8 Combien de temps conservons-nous vos données personnelles ?</h3>
    <p>Les Données relatives à vos inscriptions aux Mooc de votre choix seront conservées pour une durée n'excédant pas les délais de prescription légale applicables, soit 5 ans à compter de la fin de la relation contractuelle ou de l'inactivité de votre compte utilisateur. A l'issue de cette durée, ces Données (i) feront l'objet d'un archivage à des fins comptables et probatoires pendant les délais de prescription précités ou (ii) seront détruites si lesdits délais ont expiré.</p>
    <p>Dans l'hypothèse où nous collectons des données bancaires, celles-ci seront conservées de manière sécurisée pour la durée nécessaire à la validation de votre commande et au paiement et seront ensuite immédiatement détruites. En cas d'incident de paiement, vos Données seront conservées pendant la durée de gestion de l'incident, puis pendant une durée de trois (3) à cinq (5) ans en fonction de la gravité de l'incident.</p>
    <p>Les Données utilisées à des fins d'envoi de communications relatives aux offres et actualités du service seront conservées pendant un délai de trois (3) ans à compter de leur collecte ou de votre dernier contact avec nous. Au terme de ce délai, nous pourrons reprendre contact avec vous une dernière fois afin de savoir si vous souhaitez continuer à recevoir nos communications relatives à nos offres et actualités. Vos Données seront en outre détruites dans les plus brefs délais à compter de votre demande de désinscription.</p>
    <h3>1.9 Coordonnées du délégué à la protection des données (DPO) et droit d'introduire une réclamation</h3>
    <p>Pour toute question en lien avec la collecte et le traitement de vos Données, vous pouvez contacter le délégué à la protection des données du Nouvel Observateur – 10-12 Place de la Bourse  - 75002 Paris</p>
    <p>Vous disposez également du droit de saisir la Commission Nationale de l'Informatique et des Libertés (CNIL), 3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07, de toute réclamation se rapportant à la manière dont Le Nouvel Observateur collecte et traite vos Données.</p>
    <h2>2 - COOKIES</h2>
    <h3>2.1 Qu'est-ce qu'un "cookie" ?</h3>
    <p>Les cookies sont des fichiers contenant de faibles quantités d'informations qui sont stockées sur votre ordinateur ou votre appareil mobile lorsque vous visitez un site Internet. Ce fichier texte est susceptible d'être enregistré, sous réserve de vos choix, dans un espace dédié du disque dur de votre terminal, à l'occasion de la consultation d'un service en ligne grâce à votre logiciel de navigation.</p>
    <p>Un fichier cookie permet à son émetteur d'identifier le terminal dans lequel il est enregistré, pendant la durée de validité, qui ne peut excéder 13 mois.
      Seul l'émetteur d'un cookie est susceptible de lire ou de modifier les informations qui y sont contenues.</p>
    <p>Les cookies permettent en particulier de faciliter et améliorer votre navigation sur notre site, mieux personnaliser nos services, permettre le bon fonctionnement de certains services et faire des mesures d’audiences.</p>
    <h3>2.2 Quels sont les cookies utilisés par le site https://mooc.rue89.com/</h3>
    Deux types de cookies sont déposés lorsque vous naviguez sur notre site :
    <ul>
      <li><p><b>Cookies nécessaires au bon fonctionnement du service</b></p>
        <p>Ces cookies permettent au site de fonctionner de manière optimale. Vous pouvez vous y opposer et les supprimer en utilisant les paramètres de votre navigateur, cependant votre expérience utilisateur risque d’être dégradée.</p>
        <p>Cookies destinés à rendre la navigation optimale : csrftoken, edx-user-info, edxloggedin, hide-captions, openedx-language-preference, rue89_sessionid, video_player_volume_level</p>
      </li>
      <li><p><b>Cookies de mesures d’audience</b></p>
        <p>En vue d’effectuer un suivi pédagogique, de nos élèves nous collectons des informations par l’intermédiaire du service Google Analytics.</p>
        <p>Cookies destinés à mesurer l’audience de nos apprenants: __utma, __utmb, __utmc, __utmt, __utmz</p>
      </li>
    </ul>
    <h3>2.3 Comment gérer les cookies</h3>
    <p>L’enregistrement d’un cookie sur votre terminal de navigation est subordonné à votre volonté. Vous pouvez à tout moment modifier vos choix en matière d’acceptation ou de refus des cookies déposés sur votre terminal, soit sur votre navigateur, soit en ligne auprès de différents opérateurs.</p>
    <p>Afin de gérer les cookies au plus près de vos souhaits, nous vous invitons à paramétrer votre navigateur en tenant compte de la finalité des cookies.</p>
    <p><b>⇒ Faire vos choix sur votre navigateur</b></p>
    <p>Vous pouvez paramétrer votre logiciel de navigation soit de manière à ce que l’acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré, soit à accepter ou refuser systématiquement l’enregistrement de cookies dans votre terminal.</p>
    <p>Nous vous alertons sur le fait que tout paramétrage sur votre logiciel de navigation concernant le refus des cookies techniques et de fonctionnalités sera susceptible d’altérer votre confort de navigation sur notre site Internet, voire d’empêcher l’utilisation de certains de nos services nécessitant l’utilisation de ces mêmes cookies.</p>
    <p>Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de notre site Internet et de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.</p>
    <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.</p>
    <ul>
      <li>
        <p>Microsoft Internet Explorer</p>
        <a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</a>
      </li>
      <li>
        <p>Microsoft Edge</p>
        <a href="https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy</a>
      </li>
      <li>
        <p>Apple Safari</p>
        <a href="http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html">http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html</a>
      </li>
      <li>
        <p>Google Chrome</p>
        <a href="http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647">http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647</a>
      </li>
      <li>
        <p>Mozilla Firefox</p>
        <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences</a>
      </li>
      <li>
        <p>Opera</p>
        <a href="http://help.opera.com/Windows/10.20/fr/cookies.html">http://help.opera.com/Windows/10.20/fr/cookies.html</a>
      </li>
    </ul>
    <p><b>« Do not track »</b></p>
    <p>Vous pouvez également paramétrer votre navigateur afin que celui-ci envoie un code indiquant aux sites Web que vous ne souhaitez pas être suivi (option « Do not track »).</p>
    <ul>
      <li>
        <p>Microsoft Internet Explorer</p>
        <a href="http://windows.microsoft.com/fr-fr/internet-explorer/use-tracking-protection#ie=ie-11">http://windows.microsoft.com/fr-fr/internet-explorer/use-tracking-protection#ie=ie-11</a>
      </li>
      <li>
        <p>Microsoft Edge</p>
        <a href="https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy ">https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy</a>
      </li>
      <li>
        <p>Apple Safari</p>
        <a href="http://support.apple.com/kb/PH11952">http://support.apple.com/kb/PH11952</a>
      </li>
      <li>
        <p>Google Chrome</p>
        <a href="https ://support.google.com/chrome/answer/114836">https ://support.google.com/chrome/answer/114836</a>
      </li>
      <li>
        <p>Mozilla Firefox</p>
        <a href="https://support.mozilla.org/fr/kb/comment-activer-option-ne-pas-pister">https://support.mozilla.org/fr/kb/comment-activer-option-ne-pas-pister</a>
      </li>
      <li>
        <p>Opera</p>
        <a href="http://help.opera.com/Windows/12.10/fr/notrack.html">http://help.opera.com/Windows/12.10/fr/notrack.html</a>
      </li>
    </ul>

    <p><b>⇒Faire votre choix en ligne</b></p>
    <p>Les cookies analytiques nous permettent d’obtenir des statistiques anonymes de fréquentation de notre site afin de l’optimiser et de détecter d’éventuels dysfonctionnements. Ils sont déposés sur nos sites et applications par la société Google Analytics.</p>
    <p>Si vous ne souhaitez pas que nos sites et nos services enregistrent des cookies dans votre navigateur à des fins de mesures d’audience, vous pouvez cliquer sur les liens suivants où vous trouverez des informations supplémentaires :</p>
    <ul>
      <li>
        <p>Cookies Google Analytics</p>
        <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>
      </li>
    </ul>
  </section>
</main>
