<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Mentions légales</%block>
<main id="main" aria-label="Content" tabindex="-1">
<section class="container tos">
<h1>Mentions légales</h1>

<h2>Préambule</h2>

<p>Rue89 est le premier site d’information indépendant et pure player, &laquo; né en ligne &raquo; en France en 2007. Depuis 2009, Rue89 s'est doté d'un département formation.</p>

<p>Dans ce cadre, Rue89 MOOC propose sur son site <a href="http://mooc.rue89.com" target="_blank">mooc.rue89.com</a> (ci-après désigné &laquo; le Site &raquo;) des cours en ligne sur le journalisme numérique. Les utilisateurs de ce site constituent une communauté mondiale d'apprenants. L'ambition de Rue89 MOOC est de fournir un accès aux meilleures formations sur le journalisme numérique et ce quelle que soit la localisation géographique des utilisateurs.</p>

<h2>Article 1 - Objet</h2>

<p>Les présentes Conditions générales d’utilisation s’appliquent au service de création et d’hébergement de contenus sur le journalisme numérique proposé par le Site <a href="http://mooc.rue89.com" target="_blank">mooc.rue89.com</a> édité par Rue89 MOOC.</p>

<p>Tout internaute accédant à ce service déclare avoir pris connaissance et accepté sans réserve les termes des présentes Conditions générales d’utilisation ainsi que de la <a href="/honor" target="_blank">Charte utilisateurs</a> et de la <a href="/privacy" target="_blank">Politique de confidentialité</a>.</p>

<p>Tout internaute ne comprenant pas ou refusant de respecter l’une quelconque des clauses des présentes Conditions générales d’utilisation est invité à ne pas utiliser le Site.</p>

<p>Rue89 MOOC se réserve donc le droit de refuser l'accès ou d’exclure, sans notification préalable et sans engager sa responsabilité, tout utilisateur qui ne respecterait pas les Conditions Générales d'Utilisation, la <a href="/honor" target="_blank">Charte utilisateurs</a> et la a href="/privacy" target="_blank">Politique de confidentialité</a>. Rue89 MOOC pourra également supprimer toute contribution ou commentaire d’utilisateur ne respectant pas les Conditions Générales d'Utilisation, la <a href="/honor" target="_blank">Charte utilisateurs</a> et la <a href="/privacy" target="_blank">Politique de confidentialité</a>.</p>

<p>Rue89 MOOC se réserve le droit de modifier à tout moment les Conditions Générales d'Utilisation, la <a href="/honor" target="_blank">Charte utilisateurs</a> et la <a href="/privacy" target="_blank">Politique de confidentialité</a>. Elle en informera l’Utilisateur par mail avec un préavis d’un mois. L’utilisateur n’acceptant pas ces modifications sera libre de désinscrire du Site. A défaut, il sera considéré comme ayant accepté la nouvelle version de ces documents.</p>

<h2>Article 2 - Inscription sur le site</h2>

<p>Afin d’utiliser les services proposés par le Site, l’utilisateur doit créer un compte en fournissant au minimum son nom, une adresse électronique et un mot de passe. L’utilisateur s’engage à fournir des informations réelles et à jour.
L’utilisateur s’engage à faire le nécessaire pour garder strictement confidentiels l’identifiant et le mot de passe lui permettant d’accéder au Site. En cas de perte ou de vol de ceux-ci, ou s’il constate une utilisation frauduleuse de son compte, l’utilisateur s’engage à en informer sans délai Rue89 MOOC par mail dans la rubrique &laquo; <a href="/contact" target="_blank">Contact</a> &raquo;.</p>

<p>Rue89 MOOC garantit la confidentialité et la sécurité des informations personnelles fournies par les utilisateurs du Site  conformément à la Politique de confidentialité.</p>

<h2>Article 3 – Règles de conduite</h2>

<p>L’utilisateur est seul responsable des éléments de contenu qu’il publie sur le Site. Par éléments de contenu, on entend les textes, les photos, les vidéos, les discussions et commentaires publiés dans le cadre des espaces d’interaction (forum, wiki, réseaux sociaux).</p>

<p>Rue89 MOOC ne garantit pas l’exactitude ou l’exhaustivité des contenus publiés sur le Site par les Utilisateurs.
L’utilisateur s’engage à respecter les dispositions légales applicables en matière de cybercriminalité ainsi que les règles de déontologie informatique. Sont notamment interdit :</p>
<ul>
	<li>Tout acte portant atteinte à la confidentialité, l'intégrité et la disponibilité de l’accès, des contenus/données et systèmes informatiques du Site;</li>
	<li>Toute usurpation de l’identité d’autrui;</li>
	<li>L’accès sans autorisation aux informations d’autrui (notamment leur mot de passe), leur utilisation, modification ou destruction;</li>
	<li>La diffusion intentionnelle d’informations non conformes à la réalité, confidentielles ou portantes atteinte à la vie privée d’autrui ou au secret des affaires;</li>
	<li>La collecte sans autorisation de données personnelles des utilisateurs du Site, y compris des adresses électroniques, notamment dans un but de sollicitations commerciales ou équivalentes, ou d’intégration au sein d’un service de référencement ou équivalent, gratuit ou payant;</li>
	<li>Plus généralement, la collecte sans autorisation des informations stockées sur le Site, ses serveurs ou les ordinateurs associés;</li>
	<li>Tout acte visant à détourner de leur usage normal, endommager, détériorer, surcharger ou mettre hors service les fonctionnalités du Site, des serveurs ou du réseau.</li>
</ul>
<p>Cette liste est non limitative.</p>

<p>En outre, l’utilisateur s’engage à respecter les dispositions légales et réglementaires en vigueur, et s’interdit notamment :</p>
<ul>
	<li>De publier des contenus à caractère raciste, xénophobe, antisémite, homophobe, négationniste, pornographique, pédophile, pédopornographique ou portant atteinte à la dignité humaine;</li>
	<li>De publier des contenus incitant à la violence, au suicide, au terrorisme, à l’utilisation, la fabrication ou la distribution de substances illicites, ou incitant à la commission de crimes ou de délits;</li>
	<li>De publier des contenus injurieux, diffamatoires, ou portant atteinte à la vie privée, à l’image ou aux droits de la personnalité des tiers;</li>
	<li>De publier des contenus portant atteinte aux droits de propriété intellectuelle de tiers;</li>
</ul>
<p>Cette liste est non limitative.</p>

<p>Il est en outre strictement interdit d’utiliser le Site pour faire la promotion de produits et/ou services commerciaux. Plus généralement, l’usage du site doit être conforme à son objet.</p>

<h2>Article 4 - Règles d'utilisationdes contenus diffusés sur RUE89 MOOC</h2>

<p>L’utilisateur s’engage à respecter les conditions d'utilisation propres à chaque contenu proposé sur le Site (textes, cours, photographies, vidéos, etc.).</p>

<p>Les contenus diffusés sur Rue89 MOOC ne peuvent être utilisés qu’à des fins strictement personnelles.</p>

<p>Sauf si des conditions d'utilisation spécifiques à un contenu en disposent autrement, l’utilisateur s’interdit de reproduire et/ou modifier, compiler, décompiler, vendre, sous-licencier, transférer, traduire, publier, exploiter et diffuser sous quelque format que ce soit, tout ou partie des  contenus du site. La violation de cette clause impérative soumet l’utilisateur aux poursuites pénales et civiles prévues par la loi française.</p>

<p>L’utilisateur accepte que les contenus qu’il mettra en ligne le cas échéant sur le site, dans le respect des règles de conduites mentionnées à l’article 3, soit utilisées par les autres utilisateurs du site dans les conditions prévues au présent article et dans le monde entier.</p>

<h2>Article 5 - Données à caractère personnel - Cookies</h2>

<p>Les données à caractère personnel concernant les utilisateurs recueillies par Rue89 MOOC ont pour finalité de permettre l’utilisation, le fonctionnement, l’amélioration et le développement des services proposés sur le Site.</p>

<p>Elles peuvent également être utilisées par Rue89 MOOC afin d’adresser des informations aux utilisateurs.</p>

<p>Conformément à la Loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement des données nominatives réalisées à partir de Rue89 MOOC a fait l’objet d’une déclaration auprès de la Commission Nationale Informatique et Liberté (CNIL).</p>

<p>Conformément à l’article 38 de la Loi n°78-17, l’Utilisateur peut s’opposer, à la condition qu’il justifie de motifs légitimes, à ce que des données à caractère personnel fassent l’objet d’un traitement par Rue89 MOOC.</p>

<p>Par ailleurs et conformément aux articles 39 et 40 de la Loi n°78-17 du 6 janvier 1978, l’Utilisateur peut à tout moment accéder aux informations personnelles le concernant et demander leur modification, leur rectification ou leur suppression. Pour exercer ces droits, l’Utilisateur peut se servir du mail via la rubrique &laquo; <a href="/contact" target="_blank">Contact</a> &raquo;.</p>

<p>Rue89 MOOC prend les dispositions nécessaires pour que les données à caractère personnel recueillies sur le Site ne soient ni perdues, ni détournées, ni consultées, ni modifiées ni divulguées par des tiers non autorisés sauf si la communication de ces données est imposée par la réglementation en vigueur, notamment à la requête d’une autorité judiciaire, de police, de gendarmerie ou de toute autre autorité habilitée par la Loi.</p>

<p>Les données à caractère personnel communiquées par l’utilisateur seront détruites trois ans après sa dernière connexion à Rue89 MOOC.</p>

<p>Pour plus d’informations sur les données à caractère personnel, les utilisateurs sont invités à prendre connaissance de la <a href="/privacy" target="_blank">Politique de confidentialité</a>.</p>

<p>Rue89 MOOC utilise la technologie des marqueurs (cookies) afin d’améliorer la qualité du Site et mieux répondre aux attentes des utilisateurs.</p>

<p>De manière générale, les cookies sont sans dommage pour le poste informatique de l’utilisateur qui est libre d’accepter ou refuser les cookies en configurant son logiciel de navigation sur Internet. Pour ce faire, l’Utilisateur peut se rendre sur le site de la Commission Nationale de l’Informatique et des Libertés (&laquo;  CNIL &raquo;) à l’adresse <a href="http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/" target="_blank">http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/</a> qui explique comment effectuer une telle configuration.</p>

<p>Les cookies sont anonymes et ne sont en aucun cas utilisés pour collecter des données à caractère personnel, mais uniquement à des fins de connexion et de statistiques.</p>

<h2>Article 6 - Propriété intellectuelle</h2>

<p>Les contenus susceptibles de faire l’objet d’une protection au titre du droit d’auteur mis en ligne sur Rue89 MOOC peuvent le cas échéant et uniquement lorsque cela est expressément précisé, être assortis  d’une licence Creative Commons. Dans ce cas, ces contenus peuvent donc, sous certaines conditions seulement, être reproduits, distribués, ou modifiées.</p>

<p>Si aucune licence Creative Commons n’est associée à un contenu donné, celui-ci est soumis aux règles du droit de la propriété intellectuelle français et ne peut donc être reproduit ou représenté en tout ou partie sans l’autorisation préalable et exprès de son auteur. Le non-respect de cette règle constituerait un acte de contrefaçon susceptible de poursuites civile ou pénales.</p>

<p>Par ailleurs, les marques et logos présents sur le site Rue89 MOOC appartiennent à celle-ci ne peuvent être utilisés sans son accord préalable et exprès.</p>

<h2>Article 7 - Responsabilités</h2>

<h3>Responsabilité de l’utilisateur</h3>

<p>Pour accéder au Site et utiliser ses services, l’utilisateur doit disposer du matériel informatique et des logiciels nécessaires. L’utilisateur est seul responsable du bon fonctionnement de son matériel et de son accès internet. L’utilisateur est tenu de prendre toutes les mesures préventives nécessaires à la protection de ses données, logiciels et/ou systèmes informatiques pour se prémunir contre la contamination d’éventuels virus. Rue89 MOOC ne pourrait être tenu responsable pour les dégâts ou la perte de données qui pourraient résulter du téléchargement ou de l’utilisation des contenus diffusés sur le site.</p>

<p>L’utilisateur est seul responsable, à l’égard de Rue89 MOOC et, le cas échéant, de tout tiers, de tous dommages, directs ou indirects, de quelle que nature que ce soit, causés par un contenu déposé sur le Site par l’utilisateur, ainsi que pour toute violation par ce dernier des présentes Conditions Générales d'Utilisation, la <a href="/honor" target="_blank">Charte Utilisateurs</a> et la <a href="/privacy" target="_blank">Politique de Confidentialité</a>.

<h3>Responsabilité de Rue89 MOOC</h3>

<p>Le site Rue89 MOOC comporte des informations mises à disposition par des utilisateurs ou des liens hypertextes vers d’autres sites qui ne sont pas édités par Rue89 MOOC mais fournis ou proposés par des tiers. L’existence d’un lien du Site vers un autre site ne constitue pas une validation de ce site ou de son contenu. Il appartient donc à l’utilisateur d’exploiter ces informations avec discernement et esprit critique. Le caractère raisonnable ou actuel, l’exactitude ou l’exhaustivité du contenu de ces informations n’est pas vérifié par Rue89 MOOC. Dans ce cadre, Rue89 MOOC rejette expressément toute responsabilité.</p>

<p>Le Site est par principe accessible 24/24h, 7/7j. Rue89 MOOC se réserve toutefois la possibilité d'interrompre ou de suspendre momentanément l’accès au Site, notamment afin d'en assurer la maintenance, sans que l'interruption n'ouvre droit à une quelconque indemnisation.</p>

<p>Rue89 MOOC met en œuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité à ses utilisateurs, mais n'est tenu à aucune obligation d'y parvenir.</p>

<p>Rue89 MOOC ne peut, en outre, être tenu responsable de tout dysfonctionnement du réseau ou des serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou dégraderait son accès.</p>

<p>Sauf dans le cas où Rue89 MOOC aurait été dûment informé de l'existence d'un contenu illicite au sens de la législation en vigueur, et n'aurait pas agi promptement pour le retirer, Rue89 MOOC ne peut pas être tenu responsable de la diffusion de ce contenu.</p>

<p>En aucun cas, la responsabilité de Rue89 MOOC ne pourra par ailleurs être recherchée à l’occasion des relations qui pourraient exister entre les utilisateurs et les cours en ligne hébergés par Rue89 MOOC.</p>

<p>Rue89 MOOC n’est pas responsable des contenus mis en ligne par les cours en ligne hébergés sur Rue89 MOOC tels que les MOOC (Massive Open Online Courses c'est-à-dire les cours en ligne ouverts et massifs) et par les utilisateurs de ces sites.</p>

<h2>Article 8 - Notifications</h2>

<p>Sauf stipulation expresse contraire, toute notification envoyée à Rue89 MOOC doit être adressée par mail dans la rubrique &laquo; <a href="/contact" target="_blank">Contact</a> &raquo;. Toute notification destinée aux utilisateurs sera envoyée par e-mail à l'adresse communiquée à Rue89 MOOC lors de l’inscription au Site.</p>

<h2>Article 9 - Juridiction compétente</h2>

<p>Les présentes Conditions générales d’utilisation sont régies par la loi et la langue française.</p>

<p>L’utilisateur du site de Rue89 MOOC accepte que tout litige relatif à l’interprétation, l’exécution des présentes Conditions générales d’utilisation, annexes et/ou grief lié au fonctionnement de ce site soit réglé devant une juridiction du ressort territorial correspondant au siège social de Rue89 MOOC et ce y compris en cas de référé, de requête ou de pluralité de défendeurs.</p>

<h2>Article 10 - Mentions légales</h2>
<p><a href="https://mooc.rue89.com">https://mooc.rue89.com</a></p>

<p>Le Nouvel Observateur du Monde
Société Anonyme à Directoire et Conseil de Surveillance
Au capital de 13.450.000 €,
Immatriculée au RCS Paris, sous le numéro B 652 015 942.
Dont le siège est 10-12, place de la Bourse, 75002 PARIS,
Téléphone : 01.44.88.34.34
Représentant légal et Directeur de la Publication: Grégoire de Vaissière
Pour nous contacter : <a href="mailto:mooc@rue89.com">mooc@rue89.com</a>
</p>

<p>Hébergeur :
Amazon Web Services EMEA SARL
38 avenue John F. Kennedy,
L-1855 Luxembourg</p>
</section>
</main>
