.view-login,
.view-passwordreset,
.view-register,
body {
	footer.global {
		background: $tuna url('../images/header-bg.jpg') repeat left top;
		background-size: 50%;
		height: 88px;
		@include break-sm {
			height: auto;
			padding-bottom: 30px;
		}
		ul.links {
			float: left;
			margin-right: 10px;
			li {
				&:nth-child(3) { // Contact
					display: none;
				}
				&:nth-child(5) { // Honor
					a {
						font-size: 0;
						&::before {
							content: "Charte utilisateurs";
							font-size: 12.6px;
						}
					}
				}
				a,
				a:hover {
					color: $athens-gray;
				}
			}
			@include break-sm {
				clear: both;
			}
		}
		.copyright {
			float: left;
			color: $white;
			@include break-sm {
				margin-left: 0;
				clear: both;
			}
		}
		.by-ionisx {
			width: 126px;
			height: 26px;
			background: transparent url('../images/logo-rue89-h.svg') no-repeat left top;
			background-size: 126px 26px;
			@include break-sm {
				display: block !important;
				right: 5px;
				position: relative;
				float: left;
				clear: both;
				top: 10px;
				right: 0;
				margin-bottom: 30px;
			}
			@include break-xs {
			}
			a {
				display: none;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: -45px;
				left: -5px;
				width: 126px;
				height: 42px;
				background: transparent url('https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png') no-repeat left top;
				background-size: 126px 42px;
			}
		}
	}
}
