.view-login header.header-global, .view-login header.global-new, .view-login header.header-global.slim, .view-passwordreset header.header-global, .view-passwordreset header.global-new, .view-passwordreset header.header-global.slim, .view-register header.header-global, .view-register header.global-new, .view-register header.header-global.slim, body header.header-global, body header.global-new, body header.header-global.slim {
	background: $tuna url('../images/header-bg.jpg') repeat left top;
	background-size: 50%;
	border-top: 10px solid $aquamarine;
	height: 115px;
	@include break-lg {
		height: auto;
	}
}

body .header-global .wrapper-header,
body .header-global.slim .wrapper-header {
	height: auto;
}

header.header-global.slim h1.logo:before {
	width: 0px;
}
header.header-global h1.logo {
	height: 55px;
	@include break-md {
		margin-right: 10px !important;
	}
	@include break-sm {
		@include kill-float;
	}
}

header.header-global.slim .course-header {
	color: #fff;
	display: block;
	font-size: 1.5em;
	width: 440px;
	max-width: 100%;
	float: left;
	font-weight: 400;
	text-transform:  uppercase;
	line-height: 1.3em;
	letter-spacing: .05em;
	margin-top: 14px;
	white-space: initial;
	@include break-lg {
		width: 570px;
	}
	@include break-md {
		width: 430px;
	}
	@include break-sm {
		float: none;
	}
	.provider, .course-number {
		display: none;
	}
}

// Hides the title on the "About" page, but displays it the in logged-in pages of the course
body header.header-global.slim .course-header {
	visibility: hidden;
	height: 0;
}

.view-login header.global-new > nav h1.logo a, .view-login header.header-global.slim > nav h1.logo a, .view-login header.header-global > nav h1.logo a, .view-passwordreset header.global-new > nav h1.logo a, .view-passwordreset header.header-global.slim > nav h1.logo a, .view-passwordreset header.header-global > nav h1.logo a, .view-register header.global-new > nav h1.logo a, .view-register header.header-global.slim > nav h1.logo a, .view-register header.header-global > nav h1.logo a, body header.global-new > nav h1.logo a, body header.header-global.slim > nav h1.logo a, body header.header-global > nav h1.logo a {
	background-image: url('../images/logo-rue89-h.svg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 55px;
	width: 265px;
	margin-top: 10px;
	margin-bottom: 25px;
	display: block;
}

	.view-login header.global-new > nav h1.logo span, .view-login header.header-global.slim > nav h1.logo span, .view-login header.header-global > nav h1.logo span, .view-passwordreset header.global-new > nav h1.logo span, .view-passwordreset header.header-global.slim > nav h1.logo span, .view-passwordreset header.header-global > nav h1.logo span, .view-register header.global-new > nav h1.logo span, .view-register header.header-global.slim > nav h1.logo span, .view-register header.header-global > nav h1.logo span, body header.global-new > nav h1.logo span, body header.header-global.slim > nav h1.logo span, body header.header-global > nav h1.logo span {
		background-image: none;
		@include hide-text;
	}

// Bouton "Trouver un cours"
body {
	header {
		&.header-global {
			> nav {
				height: auto;
				@include break-lg {
					width: 750px !important;
					margin-left: auto !important;
					margin-right: auto !important;
				}
				@include break-sm {
					width: auto;
				}

				.nav-global {
					height: 50px !important;
					margin-top: 17px !important;
					float: left;
					&.authenticated {
						margin-top: 17px;
						display: block !important;
						@include break-lg {
							clear: both;
							margin-top: 24px;
							margin-left: 0;
						}
					}
					@include break-lg {
						margin-left: 276px;
					}
					@include break-md {
						margin-left: 57px;
					}
					@include break-sm {
						@include kill-float;
					}
					a {
						color: $black;
						text-transform: uppercase;
						@include button;
						@include button-color($aquamarine, $carribean-green);
						padding-top: 12px !important;
						font-size: 16px !important;
					}
					li:first-child, li:last-child {
						padding: 0;
						margin: 0;
					}
				}
			}
		}
	}
}

// Bouton "Connexion"
.cta-login,
.cta-register {
	color: $white !important;
	@include button;
	@include button-color($vivid-tangerine, $sunglo, $white);
}

header.header-global {
	.nav-courseware,
	.user {
		@include break-lg {
			@include kill-float;
			clear: both;
			padding-top: 15px;
		}
	}
}

// Bouton "Profil"
.view-login,
.view-passwordreset,
.view-register,
body {
	header {
		&.global-new,
		&.header-global.slim,
		&.header-global {
			> nav {
				ol.user {
					margin-top: 17px;
					@include break-sm {
						padding: 0;
					}
					> li.primary {
						height: 50px;
						&:first-child {
							display: none;
						}
						@include button;
						@include button-color($athens-gray, $manatee);
						.dropdown {
							position: absolute;
							height: 44px !important;
							width: 175px;
							top: 0;
							left: 0;
							&.active {
								color: $manatee;
							}
							.fa {
								display: none;
							}
							&::before {
								content: 'Mon compte';
								text-transform: uppercase;
								font-family: 'Montserrat';
								font-weight: 700;
								font-size: 16px;
								position: absolute;
								left: 0;
								top: 0;
								display: block;
								width: 100%;
								height: 100%;
								padding-top: 11px;
								padding-left: 17px;
								text-align: left;
							}
							&::after {
								content: '\f078';
								font-family: FontAwesome;
								font-size: .8em;
								position: absolute;
								top: 11px;
								right: 11px;
							}
						}
					}
					ul.dropdown-menu {
						left: 0;
						top: 50px;
						border-radius: 0;
						border: none;
						&.expanded {
							padding: 0;
						}
						li {
							min-height: 50px;
							background-color: $mischka;
							margin-bottom: 1px;
							padding: 2px 8px;
							&:hover {
								background-color: $mischka;
								color: $tuna !important;
							}
							a {
								display: block;
								height: auto;
								min-height: 50px;
								width: 100%;
								margin: 0 0;
								padding: 10px 0;
								color: $tuna;
								font-size: 18px;
								line-height: 20px;
								text-overflow: unset;
								white-space: unset;
							}
						}
					}
				}
			}
		}
	}
}
