body.view-incourse {
	.content-wrapper {
		.container {
			.course-wrapper {
				.course-content {
					.problems-wrapper {
						.problem-header {
							font-family: 'Oswald';
							font-size: 36px;
							line-height: 30px;
							letter-spacing: .0025em;
							margin-bottom: 30px;
							color: $black;
							text-transform: uppercase;
						}
						.problem {
							h2 {
								font-family: 'Droid Sans' !important;
								font-weight: 700;
								font-size: 20px;
								line-height: 30px;
								text-transform: uppercase;
								color: $black;
							}
							.choicegroup {
								label {
									padding: 0 10px;
									position: relative;
									&,
									&:hover {
										border: none;
									}
									&::before {
										content: '';
										display: block;
										position: absolute;
										border-radius: 50%;
										width: 22px;
										height: 22px;
										left: 0;
										top: 0;
										background-color: $white;
										border: 1px solid $mischka;
									}
									&::after {
										content: '';
										display: block;
										position: absolute;
										left: 0;
										right: 0;
										border-radius: 50%;
										width: 11px;
										height: 11px;
										background-color: $manatee;
										opacity: 0;
									}
									&:checked {
										&::after {
											opacity: 1;
										}
									}
									input[type='radio'] {
										opacity: .2;
										position: relative;
										
									}
								}
							}
						}
					}
				}
			}
		}
	}
}